@font-face {font-family: "Buffied"; src: url("//db.onlinewebfonts.com/t/b7aa1a87520bee50f1dcc45a5391b24c.eot"); src: url("//db.onlinewebfonts.com/t/b7aa1a87520bee50f1dcc45a5391b24c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b7aa1a87520bee50f1dcc45a5391b24c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b7aa1a87520bee50f1dcc45a5391b24c.woff") format("woff"), url("//db.onlinewebfonts.com/t/b7aa1a87520bee50f1dcc45a5391b24c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b7aa1a87520bee50f1dcc45a5391b24c.svg#Buffied") format("svg"); }

body {
  background-color: black;
  color: red;
  font-size: 15px;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 20px;
  }
}

h1 {
  text-align: center;
  font-family: buffied;
  font-size: 20px;
  color: red;
}

@media screen and (min-width: 800px){
  h1 {
    font-size: 60px;
  }
}

h2 {
  font-size: 20px;
}

@media screen and (min-width: 800px){
  h2 {
    font-size: 30px;
  }
}

h3 {
  font-size: 15px;
}

@media screen and (min-width: 800px){
  h3 {
    font-size: 20px;
  }
}

p {
  font-size: 20px;
}





input {
  margin-top: 10px;
  font-size: 2å0px;
}

img {
  width: 10%;
}

.item img {
  width: 100%;
}



.group {
 display: flex;
 flex-direction: column;
 margin-top: 0;
 margin-bottom: 10px;
 align-items: center;
}

@media all and (min-width: 1000px) {
  .group {
    flex-direction: row;
  }
}


.item {
  flex: 1;
  margin: 10px;
  border: 0px solid red;
  text-align: left;
  width: 100%;

}

.actualquiz {
  padding-left: 10px;
}




a {
  text-decoration: none;
  color: black;
}

button {
  margin-top: 10px;
}

.partialResult {
  margin-left: 5px;
}

.submitbutton {
  background-color: white;
}

button {
  background-color: white;
  margin-left: 10px;
}